<%# locals: (entry:) %>
<% transaction = entry.entryable %>

<div class="group flex lg:grid lg:grid-cols-12 items-center text-sm font-medium px-3 py-2 lg:px-4 lg:py-2.5 border-b border-secondary opacity-50 text-secondary">
  <%# === Name column === %>
  <div class="pr-4 lg:pr-2 flex items-center gap-3 lg:gap-3 lg:col-span-3 grow lg:grow-0 min-w-0">
    <div class="max-w-full min-w-0">
      <div class="flex items-center gap-1 min-w-0">
        <div class="truncate flex-shrink">
          <%= link_to entry.name,
              entry_path(entry),
              data: { turbo_frame: "drawer", turbo_prefetch: false },
              class: "hover:underline" %>
        </div>

        <div class="flex items-center gap-1 flex-shrink-0">
          <%= render DS::Pill.new(
            label: t("transactions.split_parent_row.split_label"),
            tone: :neutral,
            marker: false,
            icon: "split"
          ) %>
        </div>
      </div>
    </div>
  </div>

  <%# === Indicators column === %>
  <div class="hidden lg:flex items-center justify-center col-span-1"></div>

  <%# === Merchant column === %>
  <div class="hidden lg:flex min-w-0 items-center col-span-2">
    <% if transaction.merchant&.present? %>
      <span class="truncate text-secondary"><%= transaction.merchant.name %></span>
    <% else %>
      <span class="text-subdued">—</span>
    <% end %>
  </div>

  <%# === Category column === %>
  <div class="hidden md:flex min-w-0 items-center gap-1 col-span-2">
  </div>

  <%# === Account column === %>
  <div class="hidden lg:flex min-w-0 items-center col-span-2">
    <%= link_to entry.account.name,
        account_path(entry.account, tab: "transactions"),
        data: { turbo_frame: "_top" },
        class: "truncate text-secondary hover:underline" %>
  </div>

  <%# === Amount column === %>
  <div class="shrink-0 col-span-4 lg:col-span-2 ml-auto flex items-center justify-end gap-2">
    <span class="privacy-sensitive"><%= format_money(-entry.amount_money, unit: "") %></span>
    <span class="text-secondary text-xs"><%= entry.currency %></span>
  </div>
</div>
